/* reset */
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,legend,label,input,textarea,p,blockquote,table,th,td{margin:0;padding:0;}
/* end reset */

/* standard tags */
body{
	font-family:Verdana,Helvetica,Arial,sans-serif;
	font-size: 14px;
	color:#000;
	background-color: #EEE;
}

a{
	color: #17E;
} 

hr{
    height: 1;
	border: 0;
	opacity: 0.5;
	background: transparent url(../hr.png) no-repeat center;
}
/* end standard tags */

/* custom tags */
.titre{
	text-align: center;
	letter-spacing: 3px;
}

.episode{
	text-align: center;
	font-size: 8px;
	letter-spacing: 2px;
	color:#999;
	margin-top: 10px;
}

.description{
	margin-left: 5%;
	margin-right: 5%;
}

.liens{
	text-align: center;
}

.auteur{
	text-align: center;
	font-style: italic;
	font-weight: bold;
	letter-spacing: 4px;
}

.general{

}
/* end custom tags */

