/* reset */
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,legend,label,input,textarea,p,blockquote,table,th,td{margin:0;padding:0;}

html,body{
  height: 100%;
  min-height:100%;
}

body{
  font-family:"Segoe UI",Calibri,"Myriad Pro",Verdana,Helvetica,Arial,sans-serif;
  font-size: 14px;
  color:#000;
  background-color: #EEE;
}

.titre{
	text-align: center;
    text-shadow:#999 0px 2px 3px;
	letter-spacing: 3px;
}

.episode{
	text-align: center;
	text-shadow:#AAA 0px -1px 2px;
	font-size: 8px;
	letter-spacing: 3px;
	color:#999;
	margin-top: 10px;
}

.description{
	margin-left: 5%;
	margin-right: 5%;
}

.liens{
	text-align: center;
}

.auteur{
	text-align: center;
	font-style: italic;
	font-weight: bold;
	letter-spacing: 4px;
}

.general{

}

a{
	color: #06D;
	text-decoration: none;
	letter-spacing: 1px;
	font-size: 16px;
} 

a:hover{
	color: #17E;
	text-decoration: none;
	font-weight: bold;
}

hr{
    height: 1;
	border: 0;
	opacity: 0.5;
	background: transparent url(../hr.png) no-repeat center;
}